<h1>My tasks</h1>

<ul><% @tasks.each do |task| %>
  <li><p><input type="checkbox" <% "checked" if task.completed == true %> > <%= link_to task.title, task_path(task) %> <%= link_to '🗑', task_path(id:task.id), method: :delete, data: { confirm: "Are you sure?" } %></p></li>
<% end %></ul>
<p><%= link_to 'Add a new task', new_task_path %></p>